program: scripts/training/train.py

method: bayes
metric: 
  name: test/auroc
  goal: maximize
    #name: test/fbeta
    #goal: maximize
project: p19_sweeps

parameters:
  training.learning_rate:
    max: 0.01
    min: 0.00001
    distribution: uniform
  training.batch_size:
    values:
      #- 16
      #- 32 
      #- 64
      #- 128
      - 256
      - 512
    distribution: categorical
  optimizer.beta1:
    max: 0.99     
    min: 0.8
    distribution: uniform
  optimizer.beta2: 
    max: 0.9999 
    min: 0.9
    distribution: uniform
  optimizer.weight_decay: 
    max: 0.0005
    min: 0.0
    distribution: uniform
  ## model
  model.d_model:
    values:
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
    distribution: categorical
  model.n_head:
    values:
      - 2
      - 4
      - 8
    distribution: categorical
  model.num_encoder_layers:
    values:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8 
    distribution: categorical
  model.dim_feedforward:
    values:
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
    distribution: categorical
  model.dropout:
    max: 0.4
    min: 0.0
    distribution: uniform
  model.activation:
    values:
      - elu
      - relu
      - selu
      - gelu
      - silu
      - tanh
    distribution: categorical
  model.mask_threshold:
    values:
      - 0.01
      - 0.05
      - 0.1
      - 0.15
      - 0.2
      - 0.25
      - 0.3
    distribution: categorical
  model.mask_region_bound:
    values:
      - 0.05
      - 0.1
      - 0.15
      - 0.2
      - 0.25
      - 0.3
    distribution: categorical
  model.ratio_highest_attention:
    values:
      - 0.1
      - 0.2
      - 0.3
      - 0.4
      - 0.5
    distribution: categorical
  model.activation:
    values:
      - elu
      - relu
      - selu
      - gelu
      - silu
      - tanh
    distribution: categorical
  model.output_head.reduced:
    values:
      - true
      - false
    distribution: categorical
  model.output_head.activation_output_head:
    values:
      - elu
      - relu
      - selu
      - gelu
      - silu
      - tanh
    distribution: categorical
  # loss
  loss.lambda_cl:
    min: 0.1
    max: 1.0
    distribution: uniform
  # datamodule
  #datamodule.min_seq_length:
  #  values:
  #    - 0
  #    - 3
  #    - 6
  #    - 12
  #  distribution: categorical
  #datamodule.percentile_of_features_used:
  #  values:
  #    - 0
  #    - 50
  #    - 70
  #    - 90
  #  distribution: categorical

early_terminate:
  type: hyperband
  s: 2
  eta: 3
  max_iter: 27

command:
 - python
 - ${program}
 - +experiment=p19/sweep_starformer_vitst.yaml
 - system.accelerator=gpu
 - logger.run_1_config_path='configs/experiment/p19/run_1_configs_starformer.yaml'
 - training.log_every_n_steps=10
